In [ ]:
import pandas as pd
import numpy as np

In [ ]:
column_names = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('u.data', sep='\t', names=column_names)
filmes = pd.read_csv('Movie_Id_Titles')
filmes.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

Unindo os dados

In [ ]:
df =df.merge(filmes, on='item_id')

Vamos criar um dataframes de ratings com classificação média e número de avaliações:

In [ ]:
ratings = df.groupby('title')['rating'].mean()
ratings.head()

title
'Til There Was You (1997)    2.333333
1-900 (1994)                 2.600000
101 Dalmatians (1996)        2.908257
12 Angry Men (1957)          4.344000
187 (1997)                   3.024390
Name: rating, dtype: float64

In [ ]:
ratings['numero_de_avaliacoes'] = df.groupby('title')['rating'].count()
ratings.head()

title
'Til There Was You (1997)    2.33333
1-900 (1994)                     2.6
101 Dalmatians (1996)        2.90826
12 Angry Men (1957)            4.344
187 (1997)                   3.02439
Name: rating, dtype: object

Recomendando filmes

In [ ]:
recom = pd.pivot_table(data=df,index='user_id', columns='title', values='rating')
recom.head()

title    'Til There Was You (1997)  ...  Á köldum klaka (Cold Fever) (1994)
user_id                             ...
0                              NaN  ...                                 NaN
1                              NaN  ...                                 NaN
2                              NaN  ...                                 NaN
3                              NaN  ...                                 NaN
4                              NaN  ...                                 NaN

[5 rows x 1664 columns]

In [ ]:
toy_story = recom['Toy Story (1995)']
toy_story

user_id
0      NaN
1      5.0
2      4.0
3      NaN
4      NaN
      ...
939    NaN
940    NaN
941    5.0
942    NaN
943    NaN
Name: Toy Story (1995), Length: 944, dtype: float64

In [ ]:
similar = recom.corrwith(toy_story)
similar.sort_values(ascending=False)

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

title
Ladybird Ladybird (1994)                                                             1.0
Albino Alligator (1996)                                                              1.0
Old Lady Who Walked in the Sea, The (Vieille qui marchait dans la mer, La) (1991)    1.0
Critical Care (1997)                                                                 1.0
Late Bloomers (1996)                                                                 1.0
                                                                                    ...
Woman in Question, The (1950)                                                        NaN
Wonderland (1997)                                                                    NaN
Yankee Zulu (1994)                                                                   NaN
You So Crazy (1994)                                                                  NaN
Á köldum klaka (Cold Fever) (1994)                                                   NaN
Length: 1664, dtype: float64

In [ ]:
recomendados = pd.DataFrame(similar, columns=['correlation'])
recomendados.dropna(inplace=True)
recomendados.sort_values('correlation', ascending=False)

                                                    correlation
title
Old Lady Who Walked in the Sea, The (Vieille qu...          1.0
Reckless (1995)                                             1.0
Ladybird Ladybird (1994)                                    1.0
Infinity (1996)                                             1.0
Albino Alligator (1996)                                     1.0
...                                                         ...
Slingshot, The (1993)                                      -1.0
Heavy (1995)                                               -1.0
Feast of July (1995)                                       -1.0
Stalker (1979)                                             -1.0
Love and Death on Long Island (1997)                       -1.0

[1370 rows x 1 columns]

In [ ]:
recomendados = recomendados.join(ratings['numero_de_avaliacoes'])

In [ ]:
recomendados.sort_values('rating', ascending=False)

                                      correlation  rating
title
Star Wars (1977)                         0.180020     584
Contact (1997)                           0.155088     509
Fargo (1996)                             0.105460     508
Return of the Jedi (1983)                0.187092     507
Liar Liar (1997)                         0.342576     485
...                                           ...     ...
Line King: Al Hirschfeld, The (1996)     1.000000       2
Golden Earrings (1947)                   1.000000       2
Good Man in Africa, A (1994)            -1.000000       2
Johnny 100 Pesos (1993)                  1.000000       2
Slingshot, The (1993)                   -1.000000       2

[1370 rows x 2 columns]

In [ ]:
recomendados[recomendados['rating']>100].sort_values('correlation', ascending=False)

                               correlation  rating
title
Toy Story (1995)                  1.000000     452
Craft, The (1996)                 0.549100     104
Down Periscope (1996)             0.457995     101
Miracle on 34th Street (1994)     0.456291     101
G.I. Jane (1997)                  0.454756     175
...                                    ...     ...
Raging Bull (1980)               -0.083523     116
Boogie Nights (1997)             -0.086194     189
Clockwork Orange, A (1971)       -0.087710     221
Apt Pupil (1998)                 -0.104066     160
Harold and Maude (1971)          -0.181697     121

[334 rows x 2 columns]

In [ ]:
def recomendar(nome):
  filme = recom[nome]
  similar = recom.corrwith(filme)
  similar.sort_values(ascending=False)
  recomendados = pd.DataFrame(similar, columns=['correlation'])
  recomendados.dropna(inplace=True)
  recomendados.sort_values('correlation', ascending=False)
  recomendados = recomendados.join(ratings['numero_de_avaliacoes'])
  recomendados.sort_values('rating', ascending=False)
  recomendados = recomendados[recomendados['rating']>100].sort_values('correlation', ascending=False).head()[1:]
  return recomendados

In [ ]:
recomendar('Miracle on 34th Street (1994)')

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                              correlation  rating
title
Alien: Resurrection (1997)       0.790207     124
Rosewood (1997)                  0.732306     114
Mimic (1997)                     0.670820     101
It's a Wonderful Life (1946)     0.616887     231